<ion-view view-title="Data Management">
    <ion-content>
        <div class="list">
            <div class="item item-divider">
                Words
            </div>
            <div>
                <a class="item" ui-sref="add-word">Add</a>
                <a class="item" ui-sref="edit-word">Edit</a>
                <a class="item" ui-sref="delete-word">Delete</a>
            </div>
            <div class="item item-divider">
                Sentence QCM
            </div>
            <a class="item" ui-sref="add-sentence-qcm">Add</a>
            <a class="item" ui-sref="edit-sentence-qcm">Edit</a>
            <a class="item" ui-sref="delete-sentence-qcm">Delete</a>
            <div class="item item-divider">
                Video QCM
            </div>
            <a class="item" ui-sref="add-video-qcm">Add</a>
            <a class="item" ui-sref="edit-video-qcm">Edit</a>
            <a class="item" ui-sref="delete-video-qcm">Delete</a>
        </div>
    </ion-content>
</ion-view>
