<ion-view view-title="">
<ion-content class="padding">

  <div class="row">
    <div class="center">
            <button class="button button-positive" ng-click="setWordChoice(); setWordingChoice(0)" ui-sref="wording-presentation({id:word.id, number:1})">
                Enoncé n°1
            </button>
            <button class="button button-positive" ng-click="setWordChoice(); setWordingChoice(1)" ui-sref="wording-presentation({id:word.id, number:2})">
                Enoncé n°2
            </button>
          <button class="button button-positive" ng-click="setWordChoice();" ui-sref="dialog-list({id:word.id})">
              Dialogues
          </button>
    </div>
  </div>

  <div class="row responsive-sm" ng-init="searchDialogs()">
    <div class="col">
      <div class="row">
        <img class="center" src="../img/France-Flag-icon.png">
      </div>
      <div ng-repeat="dialog in word.frenchDialogList track by $index">
        <div class="row">
          <a class="center">Dialogue {{$index +1}}</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="row">
        <img class="center" src="../img/United-States-Flag-icon.png">
      </div>
      <div ng-repeat="dialog in word.englishDialogList track by $index">
        <div class="row">
          <a class="center">Dialogue {{$index +1}}</a>
        </div>
      </div>
    </div>
  </div>

</ion-content>
</ion-view>