<ion-view view-title="">
    <ion-content class="padding">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search" ng-model="request">
        </label>
        <button class="button button-block button-positive" ng-click="searchEnglishWord(request)">
            Envoyer
        </button>
    <div ng-repeat="pers in list">
      {{word.frenchWord}}
    </div>
        <p>A propos de moi</p>
        <ion-list>
            <div class="card">
                <ion-item>
                    <div class="video-container">
                        <iframe src="https://www.youtube.com/embed/wyVM1evRxNw" frameborder="0" width="560" height="315"></iframe>
                    </div>
                </ion-item>
            </div>
            </div>
            <div class="card">
                <ion-item>
                    <div class="video-container">
                        <iframe src="https://www.youtube.com/embed/gvI2ClWqHO0" frameborder="0" width="560" height="315"></iframe>
                    </div>
                </ion-item>
            </div>
            <div class="card">
                <ion-item>
                    <div class="video-container">
                        <iframe src="http://www.youtube.com/embed/uJAWaE11Jf4" frameborder="0" width="560" height="315"></iframe>
                    </div>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
