<ion-view view-title="Positionner les configurations">
    <ion-content>
        <div class="row">
            <div class="col col-33">
                <div class="row">
                    <div id="first-hand-picture" class="center" style="background-image:url('{{activeHand.src}}')" ng-click="activateSelection('first-hand-picture')">
                        <i class="fa fa-times" ng-click="deleteChosenConfiguration('first-hand-picture')"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="center">Main active</div>
                </div>
            </div>
            <div class="col col-33 col-offset-33">
                <div class="row">
                    <div id="second-hand-picture" class="center" style="background-image:url('{{passiveHand.src}}')" ng-click="activateSelection('second-hand-picture')">
                        <i class="fa fa-times" ng-click="deleteChosenConfiguration('second-hand-picture')"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="center">Main passive</div>
                </div>
            </div>
        </div>
        <div class="skeleton row center">
            <div class="skeleton-square mouth" ng-click="setPosition('mouth')"></div>
            <div class="skeleton-square chin" ng-click="setPosition('chin')"></div>
            <div class="skeleton-square throat" ng-click="setPosition('throat')"></div>
            <div class="skeleton-square cheek" ng-click="setPosition('cheek')"></div>
            <div class="skeleton-square temple" ng-click="setPosition('temple')"></div>
            <div class="skeleton-square eyes" ng-click="setPosition('eyes')"></div>
            <div class="skeleton-square forehead" ng-click="setPosition('forehead')"></div>
            <div class="skeleton-square right-pectoral" ng-click="setPosition('right-pectoral')"></div>
            <div class="skeleton-square left-pectoral" ng-click="setPosition('left-pectoral')"></div>
            <div class="skeleton-square thorax" ng-click="setPosition('thorax')"></div>
            <div class="skeleton-square stomach" ng-click="setPosition('stomach')"></div>
            <div class="skeleton-square right-arm" ng-click="setPosition('right-arm')"></div>
            <div class="skeleton-square right-forearm" ng-click="setPosition('right-forearm')"></div>
            <!-- <div class="skeleton-square left-arm" ng-click="leftarm"></div> -->
            <div class="skeleton-circle right-elbow" ng-click="setPosition('right-elbow')"></div>
            <div class="skeleton-circle left-hand" ng-click="setPosition('left-hand')"></div>
            <div class="skeleton-circle right-hand" ng-click="setPosition('right-hand')"></div>
        </div>
        <button class="button button-positive center" style="width:150px" ng-click="selectPositions()">
            Go!
        </button>
    </ion-content>
</ion-view>
