<ion-view view-title="Exercices">
    <ion-content>
      <div class="center">
          <div class="row" id="difficultyLevel1">
            <a ng-click="setDifficultyLevel(1)" ui-sref="qcm-video({difficulty : 1})" class="center">Level 1</a>
            </div>
          <div class="row" id="difficultyLevel2">
            <a ng-click="setDifficultyLevel(2)" ui-sref="qcm-video({difficulty : 2})" class="center">Level 2</a>
          </div>
          <div class="row" id="difficultyLevel3">
            <a ng-click="setDifficultyLevel(3)" ui-sref="qcm-video({difficulty : 3})" class="center">Level 3</a>
          </div>
          <div class="row" id="difficultyLevel4">
            <a ng-click="setDifficultyLevel(4)" ui-sref="qcm-video({difficulty : 4})" class="center">Level 4</a>
          </div>
      </div>
    </ion-content>
</ion-view>