.icon {
    display: inline-block;
    width: 35px;
}

.eng-search-icon {
    background-image: url("../img/eng-search-icon.png");
    background-position: center center;
    background-size: cover;
    height: 45px;
}

a {
    cursor: pointer;
}

.padding {
    padding: 50px;
}

.lsf-grid {
    background-color: #e3e3e3;
    width: 100%;
    height: 150px;
}

.grid-container{
  margin: 20px;
}

.col-4 {
    float: left;
    margin: 2px;
    width: calc(25% - 5px);
}
