.icon {
    display: inline-block;
    width: 35px;
}

.eng-search-icon {
    background-image: url("../img/eng-search-icon.png");
    background-position: center center;
    background-size: cover;
    height: 45px;
}

a {
    cursor: pointer;
}

.padding {
    padding: 50px;
}

.lsf-grid {
    background-color: #e3e3e3;
    width: 100%;
    height: 125px;
}

.grid-container {
    margin: 20px;
}

.col-4 {
    float: left;
    margin: 2px;
    width: calc(25% - 5px);
}

.col-8 {
    float: left;
    margin: 2px;
    width: calc(12.5% - 5px);
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

<<<<<<< HEAD
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
=======
.configuration-row {
    display: block;
    margin: 0 auto;
}

/* Bug ici */

#first-configuration {
    position: relative;
    float: left;
    height: 125px;
    width: calc(12.5% - 5px);
    margin: 0 auto;
    background-color: #000;
}

#second-configuration {
    position: relative;
    display: inline-block;
    height: 125px;
    margin: 0 auto;
    width: calc(12.5% - 5px);
    background-color: #000;
}
>>>>>>> origin/master
